GOOGLE_API_KEY=your_google_api_key_here
FCM_SERVER_KEY=REPLACE_WITH_YOUR_SERVER_KEY
FCM_URL=https://fcm.googleapis.com/fcm/send
GOOGLE_PLACES_URL=https://places.googleapis.com/v1/places:searchNearby
GOOGLE_MAPS_DIR_URL=https://www.google.com/maps/dir/?api=1&destination=
