<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muar_application">

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <queries>
        <package android:name="com.google.android.gms" />
        <intent>
            <action android:name="com.google.android.gms.common.api.BIND_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="JomMuar"
        android:icon="@mipmap/launcher_icon"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true">
        <meta-data 
            android:name="flutterEmbedding"
            android:value="2" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MuarTourismGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDidtdjUakN2CV8v_IbuywmHZITlrRj5LY"/>
    </application>
</manifest>
